<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form role="form" action="/admin/addNews" method="post">
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" placeholder="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">con</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="con" name="con" required>
        </div>


        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>