<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">备忘录</h1>
</header>
<div class="mui-content">
    <div class="mui-input-row mui-search" style="width: 100%;margin: 0">
        <input type="search" class="mui-input-clear" placeholder="搜索" data-input-clear="1" data-input-search="1" ng-model="search">
    </div>
    <a href="#!/todo/add" class="addBtn">+</a>
    <ul class="mui-table-view">
        <div class="message" ng-show="data.length==0">
              没有任何数据,请您添加
        </div>
        <li class="mui-table-view-cell mui-transitioning" style="position: relative" ng-repeat="item in data track by item.id">

            <!--<span style="position: absolute;right:10px" ng-click="del(item.id)"> 删除</span>-->
            <div class="mui-slider-right mui-disabled">
                <a class="mui-btn mui-btn-red mui-icon mui-icon-trash" style="transform: translate(0px, 0px);" ng-click="del(item.id)"></a>
            </div>
            <div class="mui-slider-handle mui-table" style="transform: translate(0px, 0px);">
                <div class="mui-table-cell">
                    <a style="display: inline-block;color: #000;" href="#!/edit/{{item.id}}">
                        {{item.con|limitTo:10}}...
                    </a>
                </div>

            </div>

        </li>

    </ul>

</div>
<div class="mui-popup mui-popup-in" style="display: none;"><div class="mui-popup-inner"><div class="mui-popup-title">提示信息</div><div class="mui-popup-text">确认删除该条记录？</div></div><div class="mui-popup-buttons"><span class="mui-popup-button" ng-click="del(item.id)">确认</span><span class="mui-popup-button mui-popup-button-bold">取消</span></div></div>
<div class="mui-popup-backdrop mui-active" style="display: none;"></div>